/*DC Classes*/
.fade-zoom-in {
	animation: zoomIn var(--transition-in-time) ease-in var(--transition-in-delay) 1 both;
}

.fade-in {
	animation: fadeIn var(--transition-in-time) ease-in var(--transition-in-delay) 1 both;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 120vh, -500px);
		transform: translate3d(0, 120vh, -500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 120vh, -500px);
		transform: translate3d(0, 120vh, -500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}

.slide-in-up {
	animation: fadeInUp 400ms ease-in-out 50ms 1 both;
}

.slide-in-down {
	animation: fadeInDownBig 450ms ease-in-out 10ms 1 both;
	animation-timing-function: linear;
}
