@import url('https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap');

/* Reset some default browser styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* New color palette */
:root {
	--primary-color: #752b97;
	--secondary-color: #b943f0;
	--accent-color: #1e7ed8;
	--accent-color: #00f3ff;
	--background-color: #121212;
	--text-color: #d3d3d3;

	--highlight-color: #f8f400da;
	--header-font-family: 'Orbitron', sans-serif;
	--font-family: 'Tomorrow', 'Droid Sans Mono', 'Comfortaa', 'Orbitron', sans-serif;
}

html {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
	font-family: var(--font-family);
	background-position: top;
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.5;
}

/* Header and Navigation */
header {
	padding: 0;
	background-color: var(--background-color);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin-block: 0;
	margin-inline: auto;
	font-family: var(--header-font-family);
	letter-spacing: 0.1rem;
}

nav a {
	color: var(--highlight-color);
	text-decoration: none;
	text-wrap: balance;
	padding-block: 0.5rem;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin-left: 20px;
}

/* Hide the checkbox */
#nav-toggle {
	display: none;
}

.nav-items-header,
.nav-separator {
	display: none;
}

/* Show the toggle button on small screens */
@media screen and (max-width: 768px) {
	/* Style the toggle button */
	.nav-toggle-label {
		display: inline-block;
		cursor: pointer;
		width: 2rem;
		margin-bottom: 0;
	}

	.nav-toggle-label span {
		display: block;
		height: 3px;
		background: var(--text-color);
		margin-bottom: 5px;
		width: 100%;
		position: relative;
		transition: all 0.3s ease-in-out;
	}
	.nav-toggle-label span:last-of-type {
		margin-bottom: 0;
	}
	.nav-items-container {
		position: absolute;
		visibility: collapse;
		width: 0;
		height: 0;
		transition: width 200ms ease-in;
	}

	.nav-items-header,
	.nav-separator {
		display: flex;
		justify-content: space-between;
	}

	.nav-close-label {
		color: var(--highlight-color);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: 0.5rem;
		padding-block: 0.5rem;
	}
	#nav-toggle:checked ~ .nav-toggle-container {
		visibility: collapse;
		width: 0;
		transition: all 200ms ease-in;
	}
	/* Show menu items when checkbox is checked */
	#nav-toggle:checked ~ .nav-items-container {
		display: block;
		visibility: visible;
		z-index: 100;
		right: 0;
		top: 0;
		height: 100dvh;
		width: 50dvw;
		background-color: var(--background-color);
		opacity: 0.9;
	}

	#nav-toggle:checked ~ ul {
		display: block;
	}

	/* Make the menu vertical */
	nav ul {
		flex-direction: column;
	}

	nav ul li {
		padding-inline: 0.2rem;
		padding-block: 1rem;
	}
	/* Show the menu items when checkbox is checked */
	#nav-toggle:checked ~ ul {
		display: flex;
	}
}

/* Main Content */
.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	width: 100%;
}

.hero {
	text-align: center;
	padding: 1rem 3rem;
}

.hero h1 {
	font-size: clamp(3vw, 1.5rem, 50vw);
	font-family: var(--header-font-family);
	color: var(--highlight-color);
	white-space: nowrap;
	letter-spacing: 0.2rem;
}

.hero p {
	text-wrap: balance;
}
.hero h1 {
	text-shadow: 0 0 1px var(--accent-color), 0 1px 1px var(--accent-color);
}

/* Form elements */
.warning{
	color: var(--secondary-color);
}
.form-container,
.content-container {
	width: 90%;
	/* min-height: 100%;
	overflow: hidden; */
	/* display: flex;
	flex-direction: column; */
	margin: 1rem auto;
	padding: 1rem 3rem;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	--background-color: #121212d8;
	background-color: var(--background-color);
}

@media (max-width: 768px) {
	.hero h1 {
		white-space: initial;
		text-wrap: balance;
	}
	.form-container,
	.content-container {
		margin: 1rem auto;
		padding: 1rem;
	}
}

article {
	width: min(80%, 80ch);
	margin: auto;
	margin-top: 2rem;
}

p {
	margin-block: 0.5rem;
}

ul,
ol {
	padding-left: 3rem;
	margin-bottom: 1rem;
}

::marker {
	color: var(--highlight-color);
}

li strong {
	color: var(--highlight-color);
}

code {
	font-size: 1rem;
	color: var(--secondary-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: var(--font-family);
	font-size: 14px;
	margin-bottom: 10px;
	background-color: var(--background-color);
	color: var(--text-color);
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

a {
	color: var(--accent-color);
}

a.button,
button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 100%;
	font-family: var(--font-family);
	background-color: var(--primary-color);
	color: var(--highlight-color);
	border: none;
	padding: 10px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	transition: all 500ms ease-in-out;
	font-weight: 300;
}

a.button:hover,
a.button:focus-visible,
button:hover,
button:focus-visible {
	border: none;
	/* color: var(--accent-color); */
	background-color: var(--secondary-color);
	/* text-shadow: 0 0 1px var(--accent-color), 0 0 1px var(--accent-color), 0 0 5px var(--accent-color),
		0 0 2px var(--accent-color), 0 0 2px var(--accent-color); */
}

.text-button {
	display: inline-block;
	text-align: center;
	align-self: center;
	text-decoration: none;
	width: 100%;
	font-family: var(--font-family);
	font-size: 1rem;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	color: var(--highlight-color);
	white-space: nowrap;
}

.text-button:hover,
.text-button:focus-visible {
	color: var(--secondary-color);
	background: transparent;
}

/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	align-items: end;
	height: min-content;
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	color: var(--text-color);
}

footer div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

footer p,
footer small {
	white-space: nowrap;
	text-overflow: ellipsis;
}
