:root {
	--transition-in-time: 300ms;
	--transition-in-delay: 10ms;
}
.fade-in {
	animation: zoomIn var(--transition-in-time) ease-in var(--transition-in-delay) 1 both;
}

.slide-in-up {
	animation: fadeInUpBig 380ms ease-in 5ms 1 both;
}
