@media all and (max-width: 768px), (max-aspect-ratio: 0.74) {
    :root {
        --divider-gap: 3em;
    }
     .vertical-acordion{
        overflow: hidden;

    }
    .top-panel{
        /* height: calc(85vh - var(--divider-gap)); */
        height: 80vh;
    }

    /* .accordion-divider,
    .acordion-divider-decoration {
        height: calc(10vh - var(--divider-gap));
        min-height: 3vh;
    } */
    .bottom-panel {
        height: 94vh;
        max-width: 98vw;
    }
    .bottom .bottom-panel {
        top: 0vh;
        transform: translateY(10vh);
    }
}

@media (max-width: 750px) {
    .acordion-divider-decoration {
        --aug-border-all: 0.25vh;
    }
    .bottom .acordion-divider-decoration {
        --aug-border-bottom: 0.25vh;
    }
    .bottom .accordion-divider .global-toolbar button.btn-menu {
        transform: translate(0, 15%) rotateZ(180deg);
    }
    
    .vertical-acordion {
        width: 99vw;
    }
}
