@import url("https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap");
@import url("../../node_modules/augmented-ui/augmented-ui.min.css");
@import url("./variables.css");
@import url("./controls.css");
@import url("./menu.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    overflow: hidden;
    font-family: var(--main-font-family);
}

html {
    background: url(/assets/bg/bg-04.jpg) center center / cover no-repeat,
        linear-gradient(to bottom left, #3c1b49, #3d0a33);
}
a {
    text-decoration: none;
}

.vertical-acordion {
    position: absolute;
    left: 50%;
    width: 90vw;
    max-width: calc(90vh / 9 * 16);
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

.accordion-divider {
    --ds: drop-shadow(0 0 2vh var(--blue));
    filter: var(--ds) var(--ds);
}

.accordion-divider,
.acordion-divider-decoration {
    height: calc(10vh - 16px);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.acordion-divider-decoration {
    background: rgb(17 17 17 / 0.75);
    --aug-tl1: 2vh;
    --aug-tr1: 2vh;
    --aug-t1: 1vh;
    --aug-t2: 1vh;
    --aug-t-extend1: (80% - 10vh);
    --aug-b1: 0px;
    --aug-b2: 0px;
    --aug-b-extend1: (80% - 10vh);
    --aug-l1: 2vh;
    --aug-l2: 2vh;
    --aug-r1: 2vh;
    --aug-r2: 2vh;
    --aug-border: initial;
    --aug-border-bg: var(--pink);
    --aug-border-all: 0.5vh;
    --aug-border-bottom: 0px;
    --aug-bl1: 0px;
    --aug-br1: 0px;
}

.acordion-divider-decoration,
.acordion-divider-decoration::before,
.acordion-divider-decoration::after {
    transition: clip-path var(--easing);
}

.bottom .acordion-divider-decoration {
    --aug-t1: 0px;
    --aug-t2: 0px;
    --aug-border-top: 0px;
    --aug-border-bottom: 0.5vh;
    --aug-b1: 1vh;
    --aug-b2: 1vh;
    --aug-bl1: 2vh;
    --aug-br1: 2vh;
    --aug-tl1: 0px;
    --aug-tr1: 0px;
}

.accordion-divider button {
    cursor: pointer;
    border: none;
    background: var(--pink);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%) rotateZ(0deg);
    --aug-border-all: 0.25vh;
    --aug-border-bg: var(--blue);
    --aug-all-width: 5vh;
    transition: transform var(--easing);
}

.bottom .accordion-divider button {
    transform: translate(-50%, -70%) rotateZ(180deg);
}

.accordion-divider {
    transition: bottom var(--easing), transform var(--easing);
}
.bottom .accordion-divider {
    bottom: 100%;
    transform: translateY(100%);
}

.top-panel {
    transition: margin-top var(--easing);
}
.bottom .top-panel {
    margin-top: -100vh;
}

.bottom-panel {
    height: 85vh;
    position: absolute;
    width: 100%;
    top: 115vh;
    transition: top var(--easing);
}

.bottom .bottom-panel {
    top: 15vh;
}
