.menu-item {
	height: 7em;
	cursor: pointer;
	padding-inline: 1rem;
	min-height: 20%;
	font-size: 1.2rem;
	color: white;
	overflow: hidden;
	opacity: 0.75;
	text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
	transition: all var(--quick-in);
	--aug-clip-tl1: initial;
	--aug-clip-tr1: initial;
	--aug-clip-bl1: initial;
	--aug-clip-br1: initial;
	--aug-border: initial;
	--aug-border-all: 0.25vh;
	--aug-tl1: 1vh;
	--aug-tr1: 2vh;
	--aug-br1: 1vh;
	--aug-bl1: 1vh;
	--aug-border-bg: radial-gradient(circle at top left, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at top right, var(--blue) 20px, transparent 30px),
		radial-gradient(circle at bottom right, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at bottom left, var(--blue) 20px, transparent 30px);

	--aug-inlay: initial;
	--aug-inlay-bg: var(--menu-inlay-bg-color);
	background-color: transparent;

	
}

.menu-item:hover,
.menu-item:focus {
	--aug-border-all: 0.35vh;
	background-color: var(--menu-inlay-bg-color-hover);
	opacity: 0.9;
}

.menu-item.disabled {
	transition: all var(--transition-in-time);	
	opacity: 0.5;
	color: var(--disabled-color);
	--aug-inlay-bg: #d3d3d311;
	--aug-border-bg: radial-gradient(circle at top left, var(--disabled-color-dark) 40px, transparent 50px),
		radial-gradient(circle at top right, var(--disabled-color-dark) 20px, transparent 30px),
		radial-gradient(circle at bottom right, var(--disabled-color-dark) 40px, transparent 50px),
		radial-gradient(circle at bottom left, var(--disabled-color-dark) 20px, transparent 30px);
}

.menu-item small {
	font-size: 0.7em;
}

.small-menu-item {
	height: fit-content;
	cursor: pointer;
	padding: 1rem;
	min-height: 20%;
	margin-bottom: 0.8rem;
	color: white;
	overflow: hidden;
	opacity: 0.75;
	text-shadow: 0 0 0.25vh black, 0 0 0.25vh black;
	transition: all var(--quick-in);
	

	--aug-clip-tl1: initial;
	--aug-clip-tr1: initial;
	--aug-clip-bl1: initial;
	--aug-clip-br1: initial;
	--aug-border: initial;
	--aug-border-all: 1px;
	--aug-tl1: 0.5rem;
	--aug-tr1: 1rem;
	--aug-br1: 0.5rem;
	--aug-bl1: 0.5rem;
	--aug-border-bg: radial-gradient(circle at top left, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at top right, var(--blue) 20px, transparent 30px),
		radial-gradient(circle at bottom right, var(--pink) 40px, transparent 50px),
		radial-gradient(circle at bottom left, var(--blue) 20px, transparent 30px);

	--aug-inlay: initial;
	--aug-inlay-bg: #ffffff1e;
	background-color: transparent;
}
.small-menu-item:hover,
.small-menu-item:focus {
	background-color: #ffffff1e;	
	--aug-border-bg: radial-gradient(circle at top left, var(--third-accent) 40px, transparent 50px),
		radial-gradient(circle at top right, var(--primary-accent) 20px, transparent 30px),
		radial-gradient(circle at bottom right, var(--third-accent) 40px, transparent 50px),
		radial-gradient(circle at bottom left, var(--primary-accent) 20px, transparent 30px);
}

.small-menu-item a {
	display: flex;
	justify-content: space-between;
}
.small-menu-item.selected {
	background-color: #ffffff3d;	
	--aug-border-bg: radial-gradient(circle at top left, var(--third-accent) 40px, transparent 20%),
		radial-gradient(circle at top right, var(--primary-accent) 20px, transparent 20%),
		radial-gradient(circle at bottom right, var(--third-accent) 40px, transparent 50%),
		radial-gradient(circle at bottom left, var(--primary-accent) 20px, transparent 30%);
}
.small-menu-item small {
	font-size: 0.7em;
}
