:root {
    --main-font-family: "Tomorrow", "Droid Sans Mono", "Comfortaa", cursive, Nunito, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;

    --bs-body-font-family: var(--main-font-family);
    --bg-main: #01242f;
    --bg-secondary: #190030;

    --light: rgba(255, 255, 255, 0.9);
    --blue-accent: #0093c4;
    --primary-accent: var(--blue-accent);
    --secondary-accent: #c643ff;
    /* #ff8300; */
    --third-accent: #ff15cb;
    --fourth-accent: #bef800;
    --disabled-color: rgb(196, 192, 192);

    --pink: #ef1ebf;
    --blue: #3e6ab3;
    --easing: 0.75s ease-in-out;
    --quick-in: 0.5s ease-in;
}

* {
    scrollbar-color: var(--third-accent) var(--secondary-accent);
    scrollbar-width: thin;
}

.text-primary {
    color: var(--primary-accent) !important;
}
.text-secondary {
    color: var(--secondary-accent) !important;
}
.text-highlight {
    color: var(--third-accent);
}
