@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@import url("https://unpkg.com/augmented-ui@2/augmented-ui.min.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
:root {
    --main-font-family: "Tomorrow", "Droid Sans Mono", "Comfortaa", cursive, Nunito, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;

    --bs-body-font-family: var(--main-font-family);
    --bg-main: #01242f;
    --bg-secondary: #190030;

    --light: rgba(255, 255, 255, 0.9);
    --blue-accent: #0093c4;
    --primary-accent: var(--blue-accent);
    --secondary-accent: #c643ff;
    /* #ff8300; */
    --third-accent: #ff15cb;
    --fourth-accent: #bef800;
    --disabled-color: rgb(196, 192, 192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Works on Firefox */

    scrollbar-width: 1px;
    scrollbar-color: var(--secondary-accent) var(--primary-accent);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--primary-accent);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-accent);
    border-radius: 20px;
    border: 1px solid var(--primary-accent);
}

html,
body {
    font: unset;
    /* color: white;  var(--third-accent); */
    color: #fff;
    font-family: Tomorrow, var(--main-font-family), sans-serif;
    min-height: 100%;
    height: 100%;
}

/*SugarCube Overrides*/
#ui-bar {
    display: none;
}
#story {
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-left: unset !important;
}
/* #passages {
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 0.135);
    margin: 3em;
    text-shadow: black;
} */

.passage {
    padding: 1.5em;
    --aug-border: initial;
    --aug-inlay: initial;
    --aug-border-all: 0.1em;
    --aug-border-bg: var(--third-accent);
    --aug-inlay-bg: #ffffff17;
    --aug-round-bl1: initial;
    --aug-clip-tr1: initial;
    --aug-clip-tl1: initial;
    --aug-rect-br1: initial;
}

#story {
    display: flex;
    height: 100%;
}
#passages {
    position: relative;
    width: 100%;
}
.passage {
    left: 0;
    position: relative;
    top: 0;
    transition: opacity 2s ease;
    display: flex;
    height: 100%;
}
.passage-out {
    opacity: 0;
    position: absolute;
    transition: opacity 1.2s ease;
}

/*End SugarCube Overrides*/
.text-container {
    height: min-content;
    padding: 1.5em;
    --aug-border: initial;
    --aug-inlay: initial;
    --aug-border-all: 0.1em;
    --aug-border-bg: var(--third-accent);
    --aug-inlay-bg: #ffffff17;
    --aug-round-bl1: initial;
    --aug-clip-tr1: initial;
    --aug-clip-tl1: initial;
    --aug-rect-br1: initial;
}
.fit .text-container {
    padding: 1em;
    width: fit-content;
}
.passage.dark .text-container {
    --aug-inlay-bg: #000000c7;
}
.bottom .text-container {
    align-self: end;
    margin-bottom: 4em;
}
.text-primary {
    color: var(--primary-accent) !important;
}
.text-highlight {
    color: var(--third-accent);
}

a {
    color: var(--third-accent);
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}

a:hover,
a:active {
    text-decoration: none;
    color: var(--secondary-accent);
}
.background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}

.action-toolbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
    padding-top: 1em;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(29, 5, 60, 0.8) 85%,
        rgba(243, 0, 255, 0.3) 97%,
        rgba(0, 0, 0, 0.5) 100%
    );
}
.action-toolbar a {
    font-size: 1.5em;
    margin: 0 3em;
}
.action-toolbar a::before {
    content: "<";
    padding-right: 0.25em;
}
.action-toolbar a::after {
    content: ">";
    padding-left: 0.25em;
}

@media all and (max-width: 768px), (max-aspect-ratio: 3/4) {
    .passage {
        padding-top: 3em;
    }

    .action-toolbar {
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        margin-bottom: 0.8em;
    }

    .action-toolbar a {
        font-size: 1.1em;
        margin: 0 1em;
    }
    .action-toolbar a.next {
        font-size: 1.1em;
        margin: 0 1em;
        content: ">";
    }
    .action-toolbar a::before {
        content: "<";
        padding-right: 0.1em;
    }
    .action-toolbar a::after {
        content: ">";
        padding-left: 0.1em;
    }
}
:root {
    --story-animation-length: 10s;
}
.fast {
    --story-animation-length: 3s;
}
.slow {
    --story-animation-length: 35s;
}
.pan-right .background {
    animation: pan-right var(--story-animation-length) forwards;
}
.pan-left .background{
    animation: pan-left var(--story-animation-length) forwards;
}
.zoom .background,
.zoom-in .background {
    animation: zoom-in var(--story-animation-length) forwards;
}
.zoom-out .background {
    animation: zoom-out var(--story-animation-length) forwards;
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale3d(1.15, 1.15, 1.15);
        opacity: 1;
    }
}
@keyframes zoom-out {
    0% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1.2);
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}
@keyframes pan-right {
    0% {
        opacity: 0;
        transform: translate3d(3%, 0%, 0px) scale3d(1.05, 1.05, 1.05);
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1) translate3d(-3%, 0%, 0px);
        opacity: 1;
    }
}
@keyframes pan-left {
    0% {
        opacity: 0;
        transform: translate3d(-3%, 0%, 0px) scale3d(1.05, 1.05, 1.05);
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1) translate3d(3%, 0%, 0px);
        opacity: 1;
    }
}
@keyframes kenburns {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}
